@page
@model ColorvisionPaintsERP.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ColorVision Paints ERP";
}

<!-- Server side redirect will happen before this is rendered -->
<div class="loading-screen" id="root-loading">
    <div class="spinner spinner-accent"></div>
    <p>Loading ColorVision ERP...</p>
</div>
